= form_for @box do |f|
	= f.label :name
	= f.text_field :name
	= f.label :description
	= f.text_field :description
	= f.label :tag, "Items (list items that may appear in this box)"
	= f.text_field :items
	= f.text_field :item_tokens, data: {load: @box.items} # Fix this later
	= f.label :frequency
	= f.select(:frequency, options_for_select([['Monthly', 'monthly'], ['Quartlery', 'quarterly'], ['Every Two Months', 'every-two-months'],['Semi-annually', 'semi-annually']]))
	= f.label :shipment_desc, "Shipment Description (i.e. 'Ships the first of the month')"
	= f.text_field :shipment_desc
	= f.label :price
	= f.text_field :price
	= f.submit "Submit", class: "button"
	=# raise 'foo'