%h2= @box.name

%p= @box.image

%p
	Box description: 
	= @box.description

%p
	Delivery frequency: 
	= @box.frequency

%p
	Shipment Details: 
	= @box.shipment_desc

%p
	Price: 
	= @box.price

%p
	Items: 
	= @box.items.join(', ')

= link_to "Subscribe", controller: "subscriptions", action: "create", class: "button"