= form_for shipment_path do |f|
	= f.label :desc
	= f.text_field :desc
	= f.label :ship_date
	= f.text_field :ship_date
	= f.label :has_shipped
	= f.text_field :has_shipped
	= f.submit "Submit", class: "button"