%h2 Shipments

/ Probably move this into a helper method or a partial
= select_tag(:filter, options_for_select([["All", "All"],["Shipped", "Shipped"],["Not Shipped", "Not Shipped"]]), :onchange => "this.form.submit();", :selected => params[:filter])

%table
  %thead
    %tr
      %th Name
      %th Ship Date
      %th Shippped?
        - @shipments.each do |shipment|
          %tr
            %td= current_user.role == "Merchant" ? link_to "#{shipment.name}", edit_shipment_path : shipment.name
            %td= shipment.ship_date
            %td= shipment.has_shipped